<!DOCTYPE html>
<html>
<head>
	<title>Book Recommendation Syetem</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
*{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}
body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(25deg, #8600b3 50%, #cc33ff 50%);
}
h1{
position: absolute;
top: 40%;
font-size: 60px;
color: white;
}
h2{
position: absolute;
top: 54%;
font-size: 40px;
color: white;   
}
</style>
</head>
<body>
<h1>Sorry....</h1>
<h2>{{user_input}} book is not available on this site</h2>
</body>
</html>